name: CI Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Build Docker image
        run: docker build -t ci-cd-intro-python .
      
      - name: Check web server
        run: |
          docker run -d -p 3000:3000 --name ci-cd-intro-python ci-cd-intro-python

